@page
@model SSDAssignment40.Pages.Support.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<table class="table">
<thead>
    <tr>
        <th>
            @Html.DisplayFor(modelItem => modelItem.CustomerSupport.Request)
        </th>
    </tr>
</thead>
<tbody>
    @if (Model.CustomerSupport.NoReplies>0) {
    @foreach (var r in Model.Reply.Replies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => r)
            </td>
        </tr>
        }
    }
</tbody>
    </table>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
