@page
@model SSDAssignment40.Pages.Support.RepliesModel
@{
}
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSupport[0].Request)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.CustomerSupport)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => r.Replies)
                </td>
            </tr>
        }
    </tbody>
    </table>*@
<form onsubmit="myfunction()" method="post">
    <div>
<textarea name="comments" id="comments">
Type your questions here...
</textarea>
    </div>
    <input type="submit" value="Submit">
</form>

<script>
    
</script>