@page
@model SSDAssignment40.Pages.Reports.SendReportModel
@{
    ViewData["Title"] = "SendReport";
    Layout = "/Pages/Shared/_Layout.cshtml";
}


<div style="width: 70%; margin: 0 auto;">
    <div style="text-align: center">
        <h1 style="margin-top: 0;">Report Received</h1>
    </div>
    <img src="~/images/ban-hammer.png" />   
    <div style="font-size: 20px; margin-top: 20px;">
        Your report was successfully submitted. We will conduct a thorough investigation.
    </div>
    <div style="font-size: 20px; margin-top: 20px; color: red;">
        User will face appropriate action if found to have breached any rules or policy.
    </div>
</div>

