/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(../fonts/Proxima-Nova-Regular.ttf);
}

@font-face {
    font-family: "NeutraText-Bold";
    src: url(../fonts/NeutraText-Bold.otf);
}

@font-face {
    font-family: "Neutra-TF-Light";
    src: url(../fonts/Tungsten-Light.ttf);
}

@font-face {
    font-family: "SIMPLIFICA Typeface";
    src: url(../fonts/SIMPLIFICA-Typeface.ttf);
}

@font-face {
    font-family: "Tungsten Light";
    src: url(../fonts/Tungsten-Light.ttf);
}

h1 {
    font-family: 'Tungsten Light';
    font-weight: bold;
    font-size: 50px;
}

h2:first-of-type {
    font-family: 'Tungsten Light';
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-family: 'Tungsten Light';
    font-weight: bold;
    font-size: 40px;
}

h3 {
    font-family: 'Tungsten Light';
    font-weight: bold;
    font-size: 30px;
}

h4 {
    font-family: Proxima-Nova-Regular;
    font-weight: bold;
    font-size: 20px;
}

body {
    padding-bottom: 20px;
    background-color: white;
    font-family: Proxima-Nova-Regular;
    font-weight: bold;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

nav, footer {
    font-family: Proxima-Nova-Regular;
    font-weight: bold;
    font-size: 16px;
}

    nav span, nav a {
        border-bottom: 2px solid transparent;
    }

#org_logo {
    border: none;
    padding: 0;
    padding-right: 25px;
}

nav span:hover, nav a:hover {
    border-color: #4154BD;
    transition: border-color ease-out 0.7s;
    color: black !important;
}

#nav_bar {
    margin-top: -10px;
    background-color: #f4f4f4 !important;
    width:100%;
}

#header_nav {
    background-color: #f4f4f4 !important;
    padding-bottom: 15px;
}

.hidden {
    opacity: 0;
    transition: opacity 2s linear;
}

#log_alert {
    width: 100%;
}

.listingimg {
    height: 200px;
    width: 300px;
}

.listingtitle {
    background-color: transparent;
    height:40px;
    margin: 0;
    width:100%;
    word-wrap:break-word;
}

.listingprice {
    margin: 0;
    float: left;
}

.listingrating {
    margin: 0;
    float: right;
}

.clickbutton {
    width: 200px;
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.clickbuttonnoshadow {
    width:200px;
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.polaroid {
    border: 1px thin lightgray;
    padding: 5px;
    margin-right: 7px;
    margin-top: 10px;
    left: -20px;
    position: relative;
    overflow: hidden;
    width:310px;
}

.polaroid:hover {
    box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2), 0px 0px 20px 9px rgba(0,0,0,0.19);
    text-decoration: none !important;
}

.listingtitle:hover {
    box-shadow: none;
    text-decoration: none !important;
}

.clickbutton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration: none !important;
    color: white;
}

.clickbuttonnoshadow:hover {
    text-decoration: none !important;
    color: white;
}

.listingimg:hover {
    box-shadow: none;
}

.reviewNumber {
    font-size: 14px;
    text-decoration: none;
    color: midnightblue;
    float: left;
    margin-top:1px;
    margin-right:3px;
}

.detailscoverpic{
    width:100%;
    height:auto;
}

.listingdetails{
    float:left;
    width:60%;
}

.listingbooking{
    width:300px;
    margin-left:40px;
    border:1px solid lightgray;
    padding:20px;
    border-radius:10px;
}

.listingwrapper{
    overflow:hidden;
    width:100%;
}

.listerinfo{
    width:25%;
    float:right;
    text-align:center;
    padding-top:15px;
    color:dimgrey;
    text-decoration:none;
    font-size:12px;
}

.listingdetailtitle{
    width:70%;
    float:left;
    overflow:hidden;
}

.titleuserdetail{
    display:inline-block;
    width:100%;
}

.buttoncontainer{
    width:200px;
}

.buttoncontainer a:hover{
    text-decoration:none;
}

#pls{
    color:red;
    padding:0;
    margin:0;
}

.hidden{
    visibility:hidden;
}

.mytextarea{
    overflow:hidden;
    max-width:100%;
    min-width:100%;
    resize:none;
}

.bookingprice{
    overflow:hidden;
    height:0px;
    display:none;
}

#calculation{
    float:left;
    width:160px;
}

#totalprice{
    float:left;
    width:160px;
    display:none;
    margin-bottom:20px;
}

#total, #calctotal{
    text-align:right;
    width:80px;
    float:right;
}

#line{
    background-color:lightgray;
    height:1px;
    width:250px;
    margin-top:8px;
    margin-bottom:8px;
    float:left;
    display:none;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}