@page
@{
}

<div>
    <div style="text-align:center;">
    <h1 style="display:inline-block;">404 error! Page not found.</h1>
    <img src="~/images/404.png" style="display:inline-block; text-align: center;" />
    </div>
</div>