@page
@model SSDAssignment40.Pages.PaymentMethod.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditCard.FullName" class="control-label"></label>
                <input asp-for="CreditCard.FullName" class="form-control" />
                <span asp-validation-for="CreditCard.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.CreditCardId" class="control-label"></label>
                <input asp-for="CreditCard.CreditCardId" class="form-control" />
                <span asp-validation-for="CreditCard.CreditCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.ExpiryDate" class="control-label"></label>
                <input asp-for="CreditCard.ExpiryDate" type="month" class="form-control" />
                <span asp-validation-for="CreditCard.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard.CVV" class="control-label"></label>
                <input asp-for="CreditCard.CVV" class="form-control" />
                <span asp-validation-for="CreditCard.CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
