@page
@model SSDAssignment40.Pages.Checkout.CheckoutReviewModel
@{
    ViewData["Title"] = "CheckoutReview";
}
@inject UserManager<Lodger> _userManager


<div>@Model.Listing.Price</div>
<a href="./PaymentOptions">Agree and Continue</a>

<div>@Model.dateStart</div>

<div>@Model.dateEnd</div>

<div></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}