@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />

<link rel="stylesheet" type="text/css" href="~/css/about.css" />
<script src="~/js/about.js" defer></script>

<section id="meet-the-boss">
    <div class="overlay">
        <h1>Meet the Founder & CIO</h1>
        <div id="cto-img">
            <div class="overlay">
                <p>Chee Jing Jie</p>
                <p>Founder & CIO</p>
            </div>
        </div>
    </div>

    <section id="cto-information" class="full-screen-modal">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="close2" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="512px" height="512px">
<g>
        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#006DF0" />



        <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#006DF0" />



</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#006DF0" />
        <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0   s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36   s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293   c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" fill="#006DF0" />

        <div id="cto-info-left" class="cto-info">
            <h1>Chee Jing Jie</h1>
            <h2>Founder & Chief Information Officer</h2>
            <hr />
            <p>
                JJ is known as the technology legend – he can fix, diagnose, and work miracles on any technical
                project. He incorporates creative and analytical problem solving the most complex of problems.
                Single-handedly, he leads a full-stack development team of 15
                to bring the joy in life...
                <br />
                He is also a naturally gifted creative visionary and businessman. He has the ability to see beyond
                the lines and bring chaos to order through innovation and creativity. He is completely self
                taught and has mastered the different aspects of technology, and internet marketing with
                a keyboard and a mouse. He has a passion for entrepreneurship.
            </p>
        </div>
        <div id="cto-info-right" class="cto-info">
            <img id="cto-swaggy-picture" src="~/images/cto-swaggy-picture.jpg" alt="CIO is cool" />
            <img src="~/images/cto-swaggy-picture.jpg" alt="CIO is cool" />
        </div>
    </section>

</section>

