@page
@model SSDAssignment40.EditReviewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Review</h2>
<hr />
<script src="~/js/listings.js"></script>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ReviewId" />
            <div class="form-group">
                <label asp-for="Review.ReviewTitle" class="control-label"></label>
                <input asp-for="Review.ReviewTitle" class="form-control" />
                <span asp-validation-for="Review.ReviewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <div class="ratingStars" style="width:100%;text-align:left;">
                    <span class="reviewStar" onclick="rating(1)">&#9734</span>
                    <span class="reviewStar" onclick="rating(2)">&#9734</span>
                    <span class="reviewStar" onclick="rating(3)">&#9734</span>
                    <span class="reviewStar" onclick="rating(4)">&#9734</span>
                    <span class="reviewStar" onclick="rating(5)">&#9734</span>
                    <input asp-for="Review.Rating" class="hidden" required id="ratingValue" />
                    <span asp-validation-for="Review.Rating" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewDesc" class="control-label"></label>
                <input asp-for="Review.ReviewDesc" class="form-control" />
                <span asp-validation-for="Review.ReviewDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <input asp-page-handler="DeleteReview" style="margin-left:30px;" type="submit" value="Delete Review" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
