@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!(string.IsNullOrEmpty(Model.userAlertMessage)))
{


    <div id="log_alert" class="alert alert-info fade in alert-dismissible" style="text-align: center;">
        <p style="font-size: large">@Model.userAlertMessage</p>
        <a href="#" id="close_alert" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
    </div>
}

<section>
    <img src="~/images/modernhouse3.jpg" />
    <div style="width:400px;height:400px;background-color:white;position:absolute;margin:-450px 0 0 100px;border-radius:10px">
        <div style="color:midnightblue;text-align:center;font-size:26px;padding:10px;">
            <u><b>Welcome to Infinite Lodging!</b></u>
            <div style="padding-top:12px;font-size:17px;">Explore homes and private rooms in any country for the lowest prices!</div>
        </div>
        <div>
            <form style="padding:10px;margin:20px">
                <label style="">Please enter your desired location</label>
                <input style="border-radius:4px;border:1px solid lightgray;height:40px;width:100%; " type="text" />

                <div style="margin-top:20px;">
                    <label style="margin-right:5%;width:47%">From</label>
                    <label style="width:47%">To</label>
                </div>
                <div style="width:100%">
                    <input style="border-radius:4px;border:1px solid lightgray;margin-right:2.5%;height:40px;width:47%" type="date" />
                    <input style="border-radius:4px;border:1px solid lightgray;margin-left:2.5%;height:40px;width:47%;" type="date" />
                </div>
                    <button style="border-radius:4px;color:white;margin-top:20px;width:100%;height:50px;border:none;background-color:midnightblue"type="submit">Go!</button>
                
            </form>
        </div>
    </div>
</section>

@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
        </ul>
    </div>
</div>*@
