@page
@model SSDAssignment40.Pages.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<div style="width:100%;display:block;">
    <h2 style="width:50%;display:inline-block;float:left">Listing Details</h2>
    <a asp-page="./EditListing" asp-route-id="@Model.Listing.ListingId">
        <div style="display:block;float:right;margin-top:20px;" class="clickbutton">
            Edit Listing
        </div>
    </a>
</div>
<section style="width:100%;height:50vh;overflow:hidden;display:inline-block">
    <a href="~/ListingCover/@Model.Listing.CoverPic">
        <img class="detailscoverpic" src="~/ListingCover/@Model.Listing.CoverPic" />
    </a>
</section>
<div class="listingwrapper">
    <div class="listingdetails">
        <div class="titleuserdetail">
            <div class="listingdetailtitle">
                <header style="font-size:36px;">
                    @Html.DisplayFor(model => model.Listing.Title)
                </header>
            </div>
            <div class="listerinfo">
                <a style="text-decoration:none;" href="/Profile/@Model.Listing.Lodger.UserName">
                    <img style="width:50px;height:50px;border-radius:50%;" src="~/profile-images/@Model.Listing.Lodger.ProfilePic" />
                </a>
                <div>
                    @Model.Listing.Lodger.UserName
                </div>
            </div>
        </div>
        <div>
            @Html.DisplayFor(model => model.Listing.Desc)
        </div>

    </div>
    <div style="float:left;">
        <div class="listingbooking">
            @* FOR BOOKING CALENDER + PRICE *@
        </div>
    </div>
</div>
<div class="buttoncontainer">
    <a asp-page="./Listings">
        <div class="clickbuttonnoshadow">
            <<< Back to Listings
        </div>
    </a>
</div>
