@page
@model SSDAssignment40.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="width:100%;display:block;">
    <h2 style="width:50%;display:inline-block;float:left">Listing Details</h2>
    <a asp-page="./EditListing" asp-route-id="@Model.Listing.ListingId">
        <div style="display:block;float:right;margin-top:20px;" class="clickbutton">
            Edit Listing
        </div>
    </a>
</div>
<section style="width:100%;height:50vh;overflow:hidden;display:inline-block">
    <a href="~/ListingCover/@Model.Listing.CoverPic">
        <img class="detailscoverpic" src="~/ListingCover/@Model.Listing.CoverPic" />
    </a>
</section>
<div>
    <div>
        <header style="font-size:36px;">
            @Html.DisplayFor(model => model.Listing.Title)
        </header>
    </div>
    <div>
        @Html.DisplayFor(model => model.Listing.Desc)
    </div>
    <div>
        @Html.DisplayFor(model => model.User.Identity.Name)
    </div>
    <div>

    </div>
</div>
<div>
    @* FOR BOOKING CALENDER + PRICE *@
</div>
<div>
    <a asp-page="./ListingsCreated">
        <div class="clickbutton">
            <<< Back to Listings
        </div>
    </a>
</div>
