@page "{username}"
@model SSDAssignment40.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div class="container">
     @Model.Username
    <br />
</div>


