@page
@{
    ViewData["Title"] = "ToS";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>ToS</h2>

General Terms and Conditions
Infinite Lodging Inc. is a real-estate rental online service provider.
<br />
<br />
<br />
When you create an account at Infinite Lodging Inc. by completing the registration form on our website, you agree to these General Terms and Conditions. You also confirm that you’re at least 18 years of age. If you use our services for business purposes, that business will be bound to the Terms outlined below.
<br />
<br />
<br />
If you have any questions regarding these Terms, you can direct your questions to legal@InfiniteLodging.com. We’re always happy to help.
<br />
<br />
<br />
General
In this agreement “we”, “us”, “our” or “Infinite Lodging Inc.” refers to Infinite Lodging Inc. B.V. We have our statutory seat in Amsterdam, The Netherlands.
Only these Terms, and no other Terms, apply to all Services Infinite Lodging Inc. provides to you, unless we agree otherwise in writing. If you use our Services, you accept these Terms and they will become a legally binding agreement between you and Infinite Lodging Inc..
Our Acceptable Use Policy, Service Level Agreement and Privacy Statement, are part of these Terms. You can find these documents here: www.infinitelodging.polyjunction.com/legal. By using our Services, you confirm that you have read these documents and that you agree and shall comply with them. When we refer to ‘Terms’, we refer to all these documents and these General Terms and Conditions.
In this agreement, a "party" means either you or Infinite Lodging Inc.. When we refer to services, this includes all the services we offer, including services like SMS, Voice, SIP Trunking, Chat, Lookup/HLR, Verify, Numbers, Reporting Service, Flow Builder and RCS, or any other service as described on our website ("Services").
We may change these Terms from time to time. If we do, we will notify you in advance via e-mail or through our website of any material revisions. If you continue using our Services, this means you agree to the changed Terms. If you do not agree to the changed Terms, you should not use Infinite Lodging Inc.’s Services.
When you register for an account, you enter into an agreement with Infinite Lodging Inc. for an indefinite period of time. In addition to any other rights, both you and Infinite Lodging Inc. may terminate this agreement for any reason by giving at least one (1) month prior written notice to the other party.
If you are registering for a Infinite Lodging Inc. account or if you use our Services on behalf of an organization, you agree to these Terms on behalf of your organization. You guarantee that you have the authority to bind your organization to these Terms, as if the organization were you. If your organization uses our Services, this will be considered a confirmation by the organization that it is bound to these Terms.
<br />
<br />
<br />
Services
We will provide you with our Services in accordance with these Terms and the SLA. You can find our SLA here: https://www.infinitelodging.polyjunction.com/en/legal/sla
We are entitled to have third parties perform a part of our Services or proceedings. We do not guarantee that our Services are always available or without disturbance. If there is any unavailability or non-performance of our Services, you have the right to claim service credits in accordance with the SLA. We will not have any other obligation to compensate you for unavailability or non-performance of our Services. Infinite Lodging Inc. shall not be liable for any short-term or long-term interruption of the data transmission to the recipient of the communications sent through our platform. All periods and dates specified by Infinite Lodging Inc. are target dates, unless expressly agreed otherwise in writing.
We may decide in our sole discretion if we are able to provide you with our Services. We may change the eligibility criteria for the use of our Services at any time, in our sole discretion. Only if we decide we do not want to provide you with our Services, we will refund any unused prepaid credits or balance.
Pricing and Payment
You pay for our Services up-front by purchasing a prepaid balance or prepaid credits. Your purchased prepaid balance or credits will be added to your account. We will charge your prepaid balance or credits for the Services you use at the actual fee rates specified on our website (https://www.infinitelodging.polyjunction.com/en/pricing). We have the right to change these fee rates at any time. We will publish changed fee rates on our website. All fee rates we publish exclude any applicable taxes and banking fees. You are responsible for and shall pay all taxes and fees applicable to your use of our Services.
Any prepaid balance or credits you purchase will lapse if you do not use the balance or credits within one year after the purchase date. Infinite Lodging Inc. is not obliged to refund any prepaid balance or credits.
If we send you an invoice for the use of our Services (other than for the purchase of prepaid balance or credits), such invoice must be paid within 14 days after the invoice date in the currency and to the bank account specified in the invoice. If you do not agree with our invoice, you must let us know within 14 days after the invoice date. If you dispute an invoice, this will not suspend your obligation to pay the invoice before its due date. If you do not dispute an invoice within 14 days after the invoice date, you no longer have a right under this agreement to bring any dispute or claim regarding that invoice.
You have no right to partially rescind an agreement with Infinite Lodging Inc., or to suspend or set off any payment obligations against us. If you fail to pay an invoice within the payment term, you are in default under this agreement.
<br />
<br />
<br />
Your compliance obligations
When using the Services, you shall comply with all laws and regulations applicable to the use of the Services and with these Terms or any other terms as agreed between us.
You shall not use the Services or permit the Services to be used to transmit any illegitimate content. Illegitimate content includes, but is not limited to content that:
is unsolicited, including without limitation, “junk mail,” “bulk e-mail”, spam or other unsolicited advertising material;
qualifies as SPAM under applicable laws and regulations;
potentially causes the introduction harmful computer programs or code in Infinite Lodging Inc.’s platform or end-users devices;
violates any legal, regulatory, governmental or telecom operator’s requirements or codes of practice;
is unlawful, pornographic, abusive, racist, obscene, offensive, threatening, defamatory, discriminatory, misleading or inaccurate; or
infringes the intellectual property of any person or entity; or
is illegal in any other way;
which shall be determined at the sole discretion of Infinite Lodging Inc..
You are solely and fully responsible for the content of communications sent by you or on your behalf through our platform. You have to implement adequate measures to prevent that the Services are used in violation of these Terms or applicable laws and regulations and to prevent unauthorized access of our platform through your software or systems.
You may not use the Services or permit the Services to be used by any competitor of Infinite Lodging Inc. or any other service provider which performs services substantially similar to Infinite Lodging Inc.’s Services without our prior written consent. You shall not resell the Services to third parties or accept any form of compensation or financial gain from third parties for the use of the Services, or for allowing third parties to use the Services, without our prior written consent. You will not use our Services in such a way that it harms or can harm the interest of Infinite Lodging Inc. or its advertisers.
You may not submit through our Services any social security number, passport number, driver’s license number, or similar identifier, credit card or debit card number, employment, financial or health information, or any other information which may be subject to specific data privacy and security laws, such as the Gramm-Leach-Bliley Act (GLBA) or the Health Insurance Portability and Accountability Act (HIPAA) applicable to Services provided in the United States of America, without our prior written approval.
We may require you to identify yourself using a passport or other identification document, or provide financial information to us. In such events, we approve that you submit the information referred to in clause 4.5.
If you use our Voice Services, you acknowledge that they do not replace regular telephone Services and you shall not rely on our Services for contacting emergency service numbers. We will never be liable, and you shall indemnify and fully compensate us for any damages incurred by us in relation to the inability to contact emergency Services through our Voice Services.
You agree to keep confidential any username and passwords provided by Infinite Lodging Inc. to you. You shall notify us immediately if you suspect or know that your username and password are stolen or used by third parties. You remain solely responsible for all authorized and unauthorized use of your username, password or account.
You must provide us with any information reasonably requested by us:
to confirm your compliance with your obligations under these Terms; or
in response to any request made by any legal, regulatory or governmental authority or telecom operator.
If you have a complaint on the performance of our service, you have to notify us within eight (8) days after you discover the issue. Your notice to us must contain a description of the failure as detailed as possible, so we can respond to the issue adequately.
<br />
<br />
<br />
Data Protection
You guarantee that you have obtained all required and valid consents under the applicable data protection laws and regulations (such as the EU General Data Protection Regulation) as required for the processing of personal data by Infinite Lodging Inc. for the performance of our Services. You acknowledge that Infinite Lodging Inc. has the right to view any electronic communications sent or received by the you through our platform, to check if the content meets the requirements of these Terms or applicable laws and regulations.
You and Infinite Lodging Inc. both acknowledge that with respect to the processing of personal data on end-users that you provide to us through our Services, Infinite Lodging Inc. is the data processor. If you wish to enter into a data processing agreement with Infinite Lodging Inc., you can send a request to privacy@infinitelodging.polyjunction.com.com and we will provide you with a pre-signed version of our Data Protection Annex.
Intellectual property
All intellectual property rights in our platform, Services, materials, documentation or any other functionalities we offer to you, also upon your request, remain exclusively with Infinite Lodging Inc.. These Terms do not grant you any rights, intellectual property rights, or licenses in respect to our platform, our Services or other documentation or materials provided by you.
<br />
<br />
<br />
Disclaimer
We expressly do not guarantee that electronic communications sent by you through our platform are received properly and on time by the end-user. You acknowledge in this respect that Infinite Lodging Inc.’s platform only operates as a conduit for the transmission of electronic communications. Our Services do not extend to the actual delivery and receipt of electronic communications, but are limited to the proper functioning of our platform.
You acknowledge that if you use the Conversations API, this may include the use of third-party integrations and that the terms and conditions of such third parties may directly apply to your use of the Conversations API. In such case you shall be fully responsible for complying with such third party terms and conditions. If Infinite Lodging Inc. suffers any losses or damages resulting from a claim in relation to your use of the Conversations API in violation of applicable third party terms and conditions, you shall without delay fully indemnify and compensate Infinite Lodging Inc. for such losses or damages.
Infinite Lodging Inc.’s Services with respect to the Conversations API only include the functioning of the integration of third-party communications services. You acknowledge that these services are not performed by Infinite Lodging Inc., but by third parties. Infinite Lodging Inc. will in no event be liable or responsible for, including but without limitation: the performance, service interruptions, down-time or the functioning of integrated third-party communications services.
You understand that electronic communications sent through the Conversations API may not always reach the end-user through the chosen communications channel. If you have selected an SMS fallback-option through the Conversations API, you agree to pay the fee rates applicable to your use of the SMS Services.
Liability and compensation of damages
Infinite Lodging Inc. will not be liable for any damages caused by:
faults, errors or delay in delivery, transmission or reception of electronic communications;
unauthorized or fraudulent use of our platform; or
electronic communications sent by you that do not meet legal requirements or requirements set by telecom operators.
We will only be liable under these Terms if:
you have, without delay, notified us in writing of a breach of our obligations and you have given us a reasonable term to correct such breach;
the event or circumstance causing the breach is within our reasonable control; and
we failed to correct such breach with a reasonable term.
We will only be liable for direct damages. We will not be liable for indirect damages such as consequential damages, loss, revenue, profits, data, business, anticipated savings, damages resulting from third party claims or any other damage caused by business stagnation. Our total liability under these Terms is limited to EUR 5.000.
Nothing in these Terms limits our liability for damage caused (i) with willful intent, fraud, or gross negligence, or (ii) for damage relating to death or personal injury caused by our negligence.
If you violate any of your obligations under these Terms, we may terminate or suspend your account and our obligations immediately, without us having to pay any compensation. In addition, in such event we have the right to charge you with an immediately payable penalty of EUR 5.000 per violation. This penalty is in addition to any other rights of Infinite Lodging Inc. to claim performance under these Terms or compensation of damages.
In case Infinite Lodging Inc. or any of our group companies suffers any losses, which are the result of any third-party claim in relation to your use of our Services in violation of these Terms, rights of third parties, or applicable laws and regulations, you shall without delay fully indemnify and compensate Infinite Lodging Inc. or any of its group companies for such losses. These losses will include reasonable legal costs made by Infinite Lodging Inc. or any of its group companies to defend against or settle such third-party claim.
<br />
<br />
<br />
Termination and suspension
Infinite Lodging Inc. may terminate or suspend the agreement by notifying you if:
you breach any of your obligations under these Terms;
Infinite Lodging Inc. considers that your use of the Services might be contrary to applicable laws and regulations, public order or morality, or could in any way be considered to be offensive or violent;
Infinite Lodging Inc.’s interest could in any way be harmed by your use of the Services;
you file for bankruptcy, suspension of payments or similar protection from creditors;
you have been declared bankrupt or are granted suspension of payments; or
you have not used our Services for a continuous period of twelve (12) months or more.
If the agreement is terminated for any reason, Infinite Lodging Inc. will not have any obligation to refund pre-paid balance or credits. Amounts already invoiced to you, will become immediately due and payable.
Termination of the agreement, for whatever reason, will not affect any accrued rights or liabilities or payments due or the coming into force or continuing in force of any provision of this agreement which is intended to come into or continue in force on or after termination. Without limitation, clauses 4, 5, 8, 9.3, 12, 13, 15 and any other provision expressed to survive termination or expiry and those provisions necessary for interpretation or enforcement of these terms shall survive termination or expiration of this agreement for whatever reason and shall continue to apply indefinitely.
<br />
<br />
<br />
Force Majeure
So called ‘Force Majeure Events’ may happen. A Force Majeure Event means, with respect to a party, any event or circumstance, regardless of whether it was foreseeable, was not caused by that party and that prevents a party from complying with any of the obligations under this these Terms other than an obligation to pay money. Force Majeure Events include failure of a utility service, transport or telecommunications network or the internet, default of suppliers or subcontractors, war, riot, civil commotion, fire, flood, or storm.
If a Force Majeure Event occurs, the party that is prevented by that Force Majeure Event from performing its obligations under these Terms (the “Non-performing Party”), will be excused from performing those obligations, on the condition that such Non-performing Party used reasonable efforts to perform those obligations.
Use of Name
You authorize Infinite Lodging Inc. to use your trademarks, logos or signs for marketing purposes. This means that we may mention you as a customer of Infinite Lodging Inc. on our website and in other promotional material such as advertising or presentations. We will not use your name if you are a natural person. Unless otherwise agreed, you shall not use the brand, trademarks, logos or signs of Infinite Lodging Inc. for any purpose without our prior written approval.
<br />
<br />
<br />
Confidentiality
“Confidential Information” refers to information maintained in confidence by a party which is marked as such, or information whether written or oral that by its nature would be to a reasonable person under the circumstances understood to be confidential information of a party. Details of the Infinite Lodging Inc. platform, supporting documentation, the Services, and the results of any performance tests of the Services will be regarded as Confidential Information.
The receiving party shall use the disclosing party’s Confidential Information only for performance or receipt of the Services and shall share this information only on a “need-to-know” basis with employees and other contractors, provided they are under a legal obligation to keep the Confidential Information confidential.
The receiving party may disclose Confidential Information in connection with a judicial or administrative proceeding to the extent that such disclosure is required under law or a court order, provided that the party required to disclose Confidential Information gives prompt written notice of such proceeding to the other party, if permitted by laws and regulations, and uses reasonable efforts to minimize the disclosure to the extent permitted by law.
A party’s confidential information does not include information that:
is or becomes publicly known other than through unauthorized disclosure by the receiving party;
is lawfully disclosed to the receiving party by a third party without restriction on disclosure; or
is independently developed by the receiving party, which independent development can be shown by written evidence.
Each Party shall hold all Confidential Information relating to or obtained from the other Party confidential for the duration of this Agreement and a period of at least three (3) years thereafter.
Notices
Any notice given under these Terms will be given in writing to the receiving party by personal delivery, registered mail or courier, or sent by e-mail to the designated email address. Your designated e-mail address is the address you fill in when you register for an account. Our designated e-mail address is support@InfiniteLodging.com.
<br />
<br />
<br />
Invalidity
If any provision in or any part of these Terms is or becomes in any way non-binding, the parties will remain bound to the remaining part. The parties shall replace the invalid or non-binding part by provisions which are valid and binding and the effects of which given the contents and purpose of this agreement, are, to the greatest extent possible, similar to that of the invalid or non-binding part.
<br />
<br />
<br />
Dispute Resolution and Governing Law
These Terms and any dispute or claim arising out of or in connection with these Terms, their subject matter or their formation (including non-contractual disputes or claims) will be governed by and construed in accordance with Dutch law.
Each party irrevocably agrees that the competent courts in Amsterdam will have exclusive jurisdiction to settle any dispute or claim arising out of or in connection with this these Terms (including non-contractual disputes or claims).
Before bringing a formal legal claim, you must first raise the issue with our support or legal team. In most cases we can resolve disputes that way.